<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfx.miaosha.mapper.GoodsMapper">
    <resultMap id="goodResultMap" type="com.bfx.miaosha.pojo.vo.GoodsVo">
        <id property="id" column="id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsTitle" column="goods_title"/>
        <result property="goodsImg" column="goods_img"/>
        <result property="goodsDetail" column="goods_detail"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsStock" column="goods_stock"/>

        <result property="miaoshaPrice" column="miaosha_price"/>
        <result property="stockCount" column="stock_count"/>
        <result property="startDate" column="stock_date"/>
        <result property="endDate" column="end_date"/>
    </resultMap>

    <select id="listGoodsVo" resultMap="goodResultMap">
        select g.*,mg.stock_count, mg.start_date, mg.end_date,mg.miaosha_price
        from miaosha_goods mg
        left join goods g on mg.goods_id = g.id
    </select>
</mapper>